[Unit]
Description=NexusNAS — Serveur de stockage réseau
After=network-online.target NetworkManager.service
Wants=network-online.target

[Service]
Type=simple
User=mathieu
WorkingDirectory=/home/mathieu/nas-server
ExecStartPre=/bin/sleep 5
ExecStart=/home/mathieu/nas-server/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8888 --workers 1
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
